.Main {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Main__greeting {
  font-size: 4vh;
  font-weight: lighter;
}

.Main__link {
  font-size: 3vh;
  align-self: center;
}

.Main a {
  color: white;
  text-decoration: none;
  background-color: blue;
  padding: 0.2vh;
}
