.InputBox {
  border: 1px solid var(---border-color);
}

.InputBox__legend {
  color: var(--primary-color);
  font-size: var(--content-font-size);
}

.InputBox__input {
  font-size: 1.2em;
  width: 98%;
}
