:root {
  --primary-color: blue;
  --secondary-color: aqua;
  --accent-color: coral;
  --content-font-size: 1em;
  --small-font-size: 0.8em;
  --big-font-size: 1.2em;
  ---border-color: #ccc;
  --font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
}

input {
  border: none;
  font-family: var(--font-family);
}

input:focus {
  outline: none;
}

.button {
  color: white;
  background-color: blue;
  padding: 0.1em;
  cursor: pointer;
  font-family: var(--font-family);
  border: none;
  font-size: calc(1.5em + 1vh);
}

.button > a {
  color: white;
  text-decoration: none;
}

.message {
  font-size: calc(2em + 1vh);
  font-weight: 100;
}

.accent-color {
  color: var(--accent-color);
}
